<%= render "layouts/header" %>


<div class="row" id="content">
  <div class="medium-8 columns">

    <% @posts.each do |post| %>

    <div class="blog-post">
      <h3><%= link_to post.title, app_post_path(post.slug) %> <small>3/6/2015</small></h3>
      <p><%= post.snippet %></p>
    </div>
    <hr>
    <% end %>

  </div>

  <div class="medium-3 columns" data-sticky-container>
    <div class="sticky" data-sticky data-anchor="content">
      <ul>
        <li>Catergories</li>
        <li>And Other Stuff</li>
      </ul>
    </div>
  </div>

</div>

<%= render "layouts/footer" %>
